h1 {
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.mobile-nav-items {
    text-align: center;
    margin-top: 23vh;
    p {
        margin: 0px;
        padding: 15px 10px;
        &:hover {
            color: crimson;
            // TODO: make pretty with font and colours on normal and hover
        }
    }
}