h1 {
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin-top: 40vh;
}

.mobile-nav-items {
    text-align: center;
    margin-top: 23vh;
    a {
        display: block;
        margin: 0px;
        padding: 15px 10px;
        text-decoration: none;
        color: black;
        &:hover {
            color: crimson;
            // TODO: make pretty with font and colours on normal and hover
        }
    }
}