h1 {
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 0px;
    font-size: 1.8em;
}

h2 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding-top: 0.5rem;
}

.mobile-nav-items {
    text-align: center;
    margin-top: 23vh;
    a {
        font-family: 'Julius Sans One', sans-serif;
        display: block;
        margin: 0px;
        padding: 15px 10px;
        text-decoration: none;
        color: black;
        &:hover {
            color: crimson;
            // TODO: make pretty with font and colours on normal and hover
        }
    }
}