.blob {
  position: absolute;
  top: 16%;
}

.bottom-shapes {
  position: absolute;
  bottom: 0;

  @media (min-width: $break-tablet) {
    svg {
      width: 100%;
      height: 100%;
    }

    height: 55%;
  }
}

#circle-blob-svg {
  position: absolute;
  top: 45%;
  right: 0;

  @media (min-width: $break-tablet) {
    svg {
      width: 100%;
      height: 100%;
    }

    bottom: -5%;
    right: 20%;
    top: unset;
    transform: rotate(90deg);
    width: 70px;
  }
}

#corner-blob-svg {
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $break-tablet) {
    svg {
      width: 100%;
      height: 100%;
    }

    width: 275px;

  }
}
