body {
  margin: 0px;
  background-color: $pink-light;
  overflow-x: hidden;
}

.page-content {
  @media only screen and (min-width: $break-tablet) {
    max-width: none;

    &__above-fold {
      display: flex;
      margin-top: 50px;
    }
  }
}

svg {
  display: block;
}
