body {
  margin: 0px;
  background-color: $pink-light;
  overflow-x: hidden;
}

.container {
  @include default-margin();
}

.page-content {
  &__above-fold {
    @include default-margin();
    margin-bottom: 50px;
  }

  @media only screen and (min-width: $break-desktop) {
    max-width: none;
    &__above-fold {
      display: flex;
      margin-top: 50px;
      justify-content: center;
    }
  }
}

svg {
  display: block;
}

@media only screen and (min-width: $break-desktop) {
  .projects {
    margin-bottom: 100px;
    
  }
}