.button {
    background-color: #b69191;
    padding: 10px 15px;
    border-radius: 6px;
    font-family: $primary-font;
    font-weight: 800;
    font-size: 0.8rem;
    color: #332e2e;
    text-decoration: none;
    @media only screen and (min-width: $break-small-tablet) {
        font-size: 1rem;
    }
}

.big-button {
    background-color: #b69191;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}