.button {
    background-color: #b69191;
    padding: 10px 15px;
    border-radius: 6px;
    font-family: $primary-font;
    font-weight: 800;
    font-size: 0.8rem;
    color: #332e2e;
    text-decoration: none;
    @media only screen and (min-width: $break-small-tablet) {
        font-size: 1rem;
    }
}

.project__button {
    background-color: #31454D;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    margin-left: 20px;

    @media only screen and (min-width: $break-tablet) {
        padding: 10px 32px;
        width: 40%;
    }
}