footer {
  font-family: $secondary-font;
  margin-top: 37vh;
  font-size: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  background-color: #3d405b;
  color: #edebe9;
}
