.home {
  &__title {
    font-family: $secondary-font;
    position: absolute;
    text-align: left;
    top: 16%;
    padding-top: 126px;
    margin-left: 78px;
    margin-right: 50px;

    @media only screen and (min-width: $break-tablet) {
      width: 48%;
      left: 30%;
    }
  }
}