.home {
    padding-top: 100vh;
    font-family: $secondary-font;


    &__introduction,
    &__latest-projects,
    &__internship {
        p {
            font-size: 0.9rem;
            padding-bottom: 0.1rem;
        }
        @media only screen and (min-width: $break-small-tablet) {
            width: 60%;
            margin: 0 auto;
            h3 {
                font-size: 21px;
            }
            p {
                font-size: 1.1rem;
                padding-bottom: 1.3rem;
            }
        }
    }

    &__introduction,
    &__latest-projects {
        padding: 0 30px;
        text-align: center;
        padding-bottom: 130px;
        h3 {
            margin: 0;
        }
    }

    &__introduction {
        padding-top: 40px;
    }

    &__img-container {
        width: 30%;
        margin: 0 auto;
        padding-bottom: 20px;
        img {
            width: 100%;
        }
    }

    &__latest-projects {
        margin-top: 70px;
    }

    &__internship {
        padding: 0 30px;
        text-align: center;

        margin-top: 80px;
        margin-bottom: 120px;

        p {
            padding-bottom: 0.5rem;
        }
    }
}

.down-chevron {
    position: absolute;
    bottom: 40px;
    right: calc(50% - 20px);
    width: 20px;
    height: 20px;
    fill: #999;
}