.home {
  &__title {
    font-family: $secondary-font;
    text-align: left;
    padding-top: 25vh;
    margin-left: 78px;
    margin-right: 50px;

    @media only screen and (min-width: $break-small-tablet) {
      width: 48%;
      margin-left: calc(90% - (255px + 10vw + 60px + 53px));
      font-size: 2.6rem;
      line-height: 1.2;
    }

    @media only screen and (min-width: $break-desktop) {
      margin-left: 420px;
      padding-top: 20vh;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    h1 {
      line-height: 1.2;
    }

    h2 {
      line-height: 1.4;
    }
  }
}
