@mixin project-card($background-color) {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  border-radius: 5px;
  padding: 20px 0 0 20px;
  background-color: $background-color;

  .project__text {
    padding-bottom: 20px;
  }

  .project__image {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }

  .project__title {
    margin: 0px;
    padding: 10px 0px 0px 20px;
    font-family: $primary-font;
    font-weight: normal;
  }

  .project__description {
    padding: 0px 0px 7px 20px;
    margin-top: 4px;
    font-size: 0.9rem;
  }

  .project__button {
    background-color: $dark-gray;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: lighten($color: $dark-gray, $amount: 60%);
    display: block;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;

    @media only screen and (min-width: $break-tablet) {
      padding: 10px 32px;
      width: 40%;
    }
  }

  @media only screen and (min-width: $break-tablet) {
    width: 30%;
    margin: 0;
    height: 260px;
  }
}
