.hamburger {
    width: 10%;
    margin: 20px 0px 0px 20px;
    position: absolute;
    top: 0;
    z-index: 1100;
    @media only screen and (min-width: $break-tablet) {
        display: none;
    }
}

.hamburger-line {
    margin-top: 10px;
    border-top: solid 1px black;
}

.open-hamburger {
    position: absolute;
    left: -100vw;
    transition: left 0.2s ease-in;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: $pink-light;
}

.close-hamburger {
    margin: 11px 0px 0px 20px;
    font-size: 30px;
    width: 10%;
    text-align: center;
}

.gray-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.0;
    background-color: #E2CFCF;
    z-index: 2;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
}

.gray-overlay--show {
    opacity: 0.3;
}

// Tablet size and up:

.nav-items {
    display: none;
    @media only screen and (min-width: $break-tablet) {
        height: 80px;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        & a {
            font-family: 'Quicksand', sans-serif;
            padding-top: 35px;
            text-decoration: none;
            color: black;
        }

        &__page-links {
            padding-right: 255px;

            :first-child {
                padding-right: 10vw;
            }
        }
    }

    @media only screen and (min-width: $break-big-desktop) {
        font-size: 1.3em;
        &__page-links {
            padding-right: 200px;

            :first-child {
                padding-right: 6vw;
            }
        }
    }
}

#contact-link {
  @media (min-width: $break-tablet) {
    position: absolute;
    right: 85px;
    z-index: 10;
  }
}
