.hamburger {
    width: 10%;
    margin: 20px 0px 0px 20px;
    position: absolute;
    top: 0;
    z-index: 1100;
    @media only screen and (min-width: $break-tablet) {
        display: none;
    }
}

.hamburger-line {
    margin-top: 10px;
    border-top: solid 1px black;
}

.open-hamburger {
    position: absolute;
    left: -100vw;
    transition: left 0.2s ease-in;
    top: 0;
    width: 65vw;
    height: 100vh;
    z-index: 1000;
    background-color: #E3C4AC;
}

.close-hamburger {
    margin: 11px 0px 0px 20px;
    font-size: 30px;
    width: 10%;
    text-align: center;
}

.gray-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.0;
    background-color: #E2CFCF;
    z-index: 2;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
}

.gray-overlay--show {
    opacity: 0.3;
}

// Tablet size and up:

.nav-items {
    display: none;
    @media only screen and (min-width: $break-tablet) {
        width: 79%;
        margin: 0 auto;
        display: flex;
        & a {
            font-family: 'Quicksand', sans-serif;
            padding-top: 35px;
            padding-right: 40px;
            text-decoration: none;
            color: black;
        }
        & :first-child {
            margin-right: auto;
            padding-left: 40px;
        }
    }
    @media only screen and (min-width: $break-desktop) {
        & a {
            padding-right: 60px;
            font-weight: 400;
        }
    }
}
