
h2 {
    margin: 0 auto;
    @media only screen and (min-width: $break-tablet) {
        margin-bottom: 25px;
    }
}

.project-cards {
    @media only screen and (min-width: $break-tablet) {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}

// Project card
.project {
    &__werkstad {
        @include project-card(#EAAB27);
    }

    &__xperience {
        @include project-card(#B8A2D8);
    }
}