h1 {
    color: black;
    font-family: $primary-font;
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.8em;
    position: relative;
    z-index: 100;
    @media only screen and (min-width: $break-small-tablet) {
        font-size: 2em;
    }
}

h2 {
    text-align: left;
    font-family: $primary-font;
    font-size: 1.2em;
    margin: 0px;
    padding-top: 0.5rem;
    position: relative;
    z-index: 110;
    @media only screen and (min-width: $break-small-tablet) {
        font-size: 1em;
    }
}

.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 16%;
    padding-top: 126px;
}

.blob-text {
    top: 74%;
    position: absolute;
    left: 68%;
}

.mobile-nav-items {
    text-align: center;
    margin-top: 23vh;
    a {
        font-family: $primary-font;
        display: block;
        margin: 0px;
        padding: 15px 10px;
        text-decoration: none;
        color: black;
        &:hover {
            color: crimson;
            // TODO: make pretty with font and colours on normal and hover
        }
    }
}

.seeking-internship {
    @media only screen and (min-width: $break-small-tablet) {
        width: 84%;
        /* font-family: 'Julius Sans One', sans-serif; */
        font-family: $secondary-font;
        text-align: right;
        margin-top: 450px;
    }
}