$pink-light: #edebe9;
$dark-gray: #31454d;
$light-blue: #87bfd5;
$light-green: #97cdc2;
$peach: #e8a27c;
$pink: #e39ab5;
$purple: #b8a2d8;
$orange: #eab851;
$green: #84a59d;
$dark-pink: #e87e7e;

$project-colors: (
  "orange": $orange,
  "purple": $purple,
  "peach": $peach,
  "green": $green,
  "blue": $light-blue,
  "pink": $pink,
  "dark-pink": $dark-pink,
);
