$pink-light: #F3F1F0;
$dark-gray: #31454d;
$light-blue: #9CD1E6;
$light-green: #97CDC2;
$peach: #E8A27C;
$pink: #E39AB5;
$purple: #B8A2D8;
$orange: #EAB851;
$green: #84A59D;

$project-colors: (
    "orange": $orange,
    "purple": $purple,
    "peach": $peach,
    "green": $green,
    "blue": $light-blue,
    "pink": $pink);